@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Ewert);

* {
    font-family: 'Montserrat', sans-serif;
}

html {
  /*background-image: url(pexels-photo-230976.jpeg);*/
  /*background-repeat: no-repeat;*/
    background: url(pexels-photo-230976.jpeg) no-repeat center center fixed;
    background-size: cover;
}

body {
    background-color: transparent !important;
    /*background: -moz-linear-gradient(right center, black, transparent, black) no-repeat center fixed;*/
    background-size: cover;
}

.panel {
  background-color: transparent !important;
  box-shadow: 0px 0px 0px transparent !important;
}

#main_header{
    width: 1000px;
    height: auto;
    margin: 20px auto 0px auto;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    border-bottom: 3px solid #333;
}

#main_header_contact{
    width: 1000px;
    height: 40px;
    margin: 7px auto;
    border-bottom: 3px solid #333;
}

#email_contact{
    float: left;
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 1px whitesmoke;
}

#phone_contact{
    float: right;
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 1px whitesmoke;
}

#main_header h1 {
    font-weight: bold;
    font-size: 70px;
    border-bottom: 3px solid #333;
}

#rfq_form_outer_div {
    margin: auto;
    width: 80%;
    border-radius: 4px
}

#rfq_panel {
    border: none /*1px solid #634271*/;
    background-color: transparent /*whitesmoke*/ !important;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    border-radius: 4px
}

#rfq_heading {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    text-align: center;
    height: 50px;
    display: table;
    width: 100%;
}

#rfq_title {
    border-bottom: 2px solid #333;
    font-size: 35px;
    padding-bottom: 10px;
    color: whitesmoke;
    /*background-color: none;*/
    display: table-cell;
    vertical-align: middle;
    text-shadow: 2px 2px 4px #333;
}

#rfq_body {
    border-radius: 4px;
    background: transparent /*whitesmoke*/ !important
}

.form-group {
    box-shadow: 4px 4px 4px grey;
}

#rfq_text {
    height: 40px
}

#rfq_button_div {
    /*background-color: whitesmoke !important;*/
    padding-bottom: 15px;
    border-radius: 4px;
}

#rfq_submit_button {
    width: 150px;
    margin: auto;
    color: whitesmoke;
    background-color: rgba(45, 45, 45, 0.8);
    border: medium none;
    /*border-color: #634271;*/
    font-size: 19px;
    box-shadow: 2px 2px 4px grey;
    height: 40px;
    padding: 0px;
    text-shadow: 2px 2px 2px #333;
}

#main_pg_outer_div {
    width: 1000px;
    height: 800px;
    margin: 25px auto 0px auto;
}

#form_div {
    width: 44%;
    float: left;
}

#available_leg_form_div {
    width: 70%;
    margin: auto;
}

.form-group {
    border-radius: 5px;
}

#info_div {
    margin-top: 40px;
    width: 43%;
    float: right;
}

#info_div h3 {
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #333;
}

#main_pg_bullets {
  /*border: 2px solid red;*/
  height: 100px;
  width: 100%;
  vertical-align: middle;
}

#glyphs {
  /*border: 2px solid green;*/
  float: left;
  font-size: 20px;
  height: 100%;
  width: 50px;
  padding: 12px;
}

#bullet_text {
  /*border: 2px solid blue;*/
  height: 50px;
  width: 100%;
  vertical-align: middle;
  margin-top: 0px;
  padding-top: 10px;
}

#available_legs_title {
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 2px 2px 4px #333;
    margin: auto;
    width: 100%;
    float: left;
    align-content: center;
    text-align: center;
}

#available_legs_info {
  font-size: 35px;
  padding-bottom: 10px;
  color: whitesmoke;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px 4px #333;
  margin: auto;
  width: 100%;
  float: left;
  align-content: center;
  text-align: center;
}

#legs_tbl_header {
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px 4px #333;
  margin: auto;
}

#legs_tbl_td {
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px 4px #333;
  margin: auto;
}