@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Ewert);

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    background: url(pexels-photo-230976.jpeg) no-repeat center center fixed;
    background-size: cover;
}

body {
    background-color: transparent !important;
    background-size: cover;
}

.panel {
  background-color: transparent !important;
  box-shadow: 0px 0px 0px transparent !important;
}

#main_header{
    width: 1000px;
    height: auto;
    margin: 20px auto 0px auto;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    border-bottom: 3px solid #333;
}

#main_header_contact{
    width: 1000px;
    height: 40px;
    margin: 7px auto;
    border-bottom: 3px solid #333;
}

#email_contact {
    float: left;
    width: 40%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /*text-shadow: 1px 1px 1px whitesmoke;*/
}

div#email_contact a {
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 2px 2px 4px #333;
}

#phone_contact {
    float: left;
    width: 40%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /*text-shadow: 1px 1px 1px whitesmoke;*/
}

div#phone_contact a {
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 2px 2px 4px #333;
}

#faq_link_div {
    float: left;
    width: 10%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /*text-shadow: 1px 1px 1px whitesmoke;*/
}

a.faq_link {
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 2px 2px 4px #333;
}

#home_link_div {
    float: left;
    width: 10%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /*text-shadow: 1px 1px 1px whitesmoke;*/
}

a.home_link {
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 2px 2px 4px #333;
}

#main_header h1 {
    font-weight: bold;
    font-size: 70px;
    border-bottom: 3px solid #333;
}

#rfq_form_outer_div {
    margin: auto;
    width: 80%;
    border-radius: 4px
}

#rfq_panel {
    border: none /*1px solid #634271*/;
    background-color: transparent /*whitesmoke*/ !important;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    border-radius: 4px
}

#rfq_heading {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    text-align: center;
    height: 50px;
    display: table;
    width: 100%;
}

#rfq_title {
    border-bottom: 2px solid #333;
    font-size: 35px;
    padding-bottom: 10px;
    color: whitesmoke;
    /*background-color: none;*/
    display: table-cell;
    vertical-align: middle;
    text-shadow: 2px 2px 4px #333;
}

#rfq_body {
    border-radius: 4px;
    background: transparent /*whitesmoke*/ !important
}

.form-group {
    box-shadow: 4px 4px 4px grey;
}

#rfq_text {
    height: 40px
}

#rfq_button_div {
    /*background-color: whitesmoke !important;*/
    padding-bottom: 15px;
    border-radius: 4px;
}

#rfq_submit_button {
    width: 150px;
    margin: auto;
    color: whitesmoke;
    background-color: rgba(45, 45, 45, 0.8);
    border: medium none;
    /*border-color: #634271;*/
    font-size: 19px;
    box-shadow: 2px 2px 4px grey;
    height: 40px;
    padding: 0px;
    text-shadow: 2px 2px 2px #333;
}

#main_pg_outer_div {
    width: 1000px;
    height: 800px;
    margin: 25px auto 0px auto;
}

#form_div {
    width: 44%;
    float: left;
}

#available_leg_form_div {
    width: 70%;
    margin: auto;
}

.form-group {
    border-radius: 5px;
}

#info_div {
    margin-top: 40px;
    width: 80%;
    float: left;
}

#info_div h3 {
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #333;
}

#main_pg_bullets {
  /*border: 2px solid red;*/
  height: 60px;
  width: 100%;
  vertical-align: middle;
}

#glyphs {
  /*border: 2px solid green;*/
  float: left;
  font-size: 20px;
  height: 100%;
  width: 50px;
  padding: 12px;
}

#bullet_text {
  /*border: 2px solid blue;*/
  height: 50px;
  width: 100%;
  vertical-align: middle;
  margin-top: 0px;
  padding-top: 10px;
}

h2#faq_text {
    color: whitesmoke;
    text-decoration: underline;
    height: auto;
    width: 100%;
    vertical-align: middle;
    margin-top: 0px;
    padding-top: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #333;
}

#faq_text {
    /*border: 2px solid blue;*/
    height: auto;
    width: 100%;
    vertical-align: middle;
    margin-top: 0px;
    padding-top: 10px;
    font-weight: bold;
}



#available_legs_title {
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 2px 2px 4px #333;
    margin: auto;
    width: 100%;
    float: left;
    align-content: center;
    text-align: center;
}

#available_legs_info {
  font-size: 35px;
  padding-bottom: 10px;
  color: whitesmoke;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px 4px #333;
  margin: auto;
  width: 100%;
  float: left;
  align-content: center;
  text-align: center;
}

#legs_tbl_header {
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px 4px #333;
  margin: auto;
}

#legs_tbl_td {
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px 4px #333;
  margin: auto;
}

#llc_footer {
    color: white;
    text-align: center;
    margin: 200px auto 20px auto;
}

#privacy_footer {
    color: white;
    text-align: center;
    margin: auto auto 20px auto;
    text-decoration: underline;
}

div#privacy_footer a {
    color: white;
}

#disclaimer {
    color: white;
}

@media (max-width: 400px) {
    div#avinodeApp {
        max-width: 360px;
        margin: auto;
    }
}
@media (min-width: 401px) and (max-width: 500px) {
    div#avinodeApp {
        max-width: 360px;
        margin: auto;
    }
}
@media (min-width: 501px) and (max-width: 600px) {
    div#avinodeApp {
        max-width: 450px;
        margin: auto;
    }
}
@media (min-width: 601px) and (max-width: 700px) {
    div#avinodeApp {
        max-width: 540px;
        margin: auto;
    }
}
@media (min-width: 701px) and (max-width: 800px) {
    div#avinodeApp {
        max-width: 630px;
        margin: auto;
    }
}
@media (min-width: 801px) and (max-width: 900px) {
    div#avinodeApp {
        max-width: 720px;
        margin: auto;
    }
}
@media (min-width: 901px) and (max-width: 1000px) {
    div#avinodeApp {
        max-width: 810px;
        margin: auto;
    }
}
@media (min-width: 1000px) {
    div#avinodeApp {
        max-width: 1000px;
        margin: auto;
        border-radius: 2px;
    }
}
